

<!-- ******************** Slider Starts Here ******************* -->
<div class="slider">
    <!-- Set up your HTML -->
    <div >
        <div class="slider-img">
            <div class="item">
                <div class="slider-img"><img src="assets/images/prediction.png" alt=""></div>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-offset-2 col-lg-8 col-md-offset-2 col-md-8 col-sm-12 col-xs-12">
                            <div class="animated bounceInDown slider-captions">
                                <h1 class="slider-title">Prediction of Income</h1>
                                <p class="slider-text hidden-xs">Are they Capable of paying Loan</p>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- <div class="item">
            <div class="slider-img"><img src="assets/images/slider/slider-1.jpg" alt=""></div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-offset-2 col-lg-8 col-md-offset-2 col-md-8 col-sm-12 col-xs-12">
                        <div class="slider-captions ">
                            <h1 class="slider-title">It's time for better help.</h1>
                            <p class="slider-text hidden-xs">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's</p>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="item">
            <div class="slider-img"><img src="assets/images/slider/slider-2.jpg" alt=""></div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-offset-2 col-lg-8 col-md-offset-2 col-md-8 col-sm-12 col-xs-12">
                        <div class="slider-captions ">
                            <h1 class="slider-title">Most Attractive Travel Template</h1>
                            <p class="slider-text hidden-xs">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's</p>
                           
                        </div>
                    </div>
                </div>
            </div>
        </div> -->

    </div>
</div>   

<!-- <ngb-carousel *ngIf="images">
	<ng-template ngbSlide>
		<div class="picsum-img-wrapper">
			<img [src]="images[0]" alt="Random first slide" />
		</div>
		<div class="carousel-caption">
			
			<h1 class="slider-title">It's time for better help.</h1>
                                <p class="slider-text hidden-xs">An easy platform to donate and make world a better place.A desired link between Donor and Receiver</p>
		</div>
	</ng-template>
	<ng-template ngbSlide>
		<div class="picsum-img-wrapper">
			<img [src]="images[1]" alt="Random second slide" />
		</div>
		<div class="carousel-caption">
			
			<h1 class="slider-title">It's time for better help.</h1>
                                <p class="slider-text hidden-xs">An easy platform to donate and make world a better place.A desired link between Donor and Receiver</p>
		</div>
	</ng-template>
	<ng-template ngbSlide>
		<div class="picsum-img-wrapper">
			<img [src]="images[2]" alt="Random third slide" />
		</div>
		<div class="carousel-caption">
			<h1 class="slider-title">It's time for better help.</h1>
                                <p class="slider-text hidden-xs">An easy platform to donate and make world a better place.A desired link between Donor and Receiver</p>
		</div>
	</ng-template>
</ngb-carousel> -->
              
<!--  ********* About Us Starts Here ********** -->    
       
<!-- <div class="about-us container-fluid">
    <div class="container">

        <div class="row natur-row no-margin w-100">
            <div class="text-part col-md-6">
                <h2>About Our Work</h2>
                <p>Food is one of the basic necessities of humans, and it stands first among all basic needs - food, shelter, and clothing. It is important as it nourishes the human body- sustaining the very existence of humans. However, with the rising population and development of this country, food wastage has risen to a new high. There are many people who wish to donate food to the needy but are unaware of how exactly they can execute that.</p>
                <p> Our application revolves around helping the needy by connecting NGOs and common people. The donors shall be able to see a plurality of options by which they can donate. The NGOs will get the details of the persons wishing to donate via our application and thus a network is established between donors, people who aid the donors in donating (NGOs) and the actual needy people to whom the donated item is sent. Our application aims to bring about transparency, clarity and swiftness in the process of donation thus aiming to mitigate prevailing issues in whatever zone it is possible for us to do so.</p>

                <p>Integer vulputate vehicula dolor a eleifend. Duis aliquam condimentum sapien,
                    eget tempor justo. Aenean porttitor nibh metus, sollicitudin egestas metus posuere et
                    . Fusce egestas volutpat metus, in sodales sem bibendum porta. Nunc hendrerit nunc sit
                    amet tellus posuere, at malesuada sem gravida. Integer maximus ultricies augue, at
                    dapibus elit bibendum consequat. Cras faucibus tellus eleifend, fermentum purus in,
                    dapibus sapien. Praesent nec ornare risus. Etiam iaculis, ligula vel gravida
                    vestibulum, urna justo posuere ante,
                    id pretium massa arcu sed mi. Nunc a sollicitudin sem. Duis tempus </p> -->
            <!-- </div>
            <div class="image-part col-md-6">
                <div class="about-quick-box row">
                    <div class="col-md-6">
                        <div class="about-qcard">
                            <i class="fa fa-user" aria-hidden="true"></i>
                            <p>Become a Volunteer</p>
                        </div>
                    </div>
                     <div class="col-md-6">
                        <div class="about-qcard ">
                            <i class="fa fa-inr text-danger" aria-hidden="true"></i>
                            <p>Quick Fundraise</p>
                        </div>
                    </div>
                     <div class="col-md-6">
                        <div class="about-qcard ">
                            <i class="fa fa-dot-circle-o text-warning" aria-hidden="true"></i>
                            <p>Give Donation</p>
                        </div>
                    </div>
                     <div class="col-md-6">
                        <div class="about-qcard ">
                            <i class="fa fa-handshake-o text-primary" aria-hidden="true"></i>
                            <p>Help Someone</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>    -->



<!-- ################# Mission Vision Start Here #######################--->
  
<section class="container-fluid mission-vision">
    <div class="container">
        <div class="row mission">
            <div class="col-md-6 mv-det">
                <h1>No of Employees</h1>
                <p>From apis like GlassDoor the data of employees can be fetched of each and every employees.
                    And from that we can calculate the Total no of employees in that company,
                    If the no of employees are in large amount this tells that the company has that much capital.
                    So it can handle the load of loan and can repay it.This factor helps to know the capacity of the company.

                </p>
            </div>
            <div class="col-md-6 mv-img">
                <img src="assets/images/noOfEmp.jpg" alt="">
            </div>
        </div>
        
        <div class="row vision">
            <div class="col-md-6 mv-img">
                 <img src="assets/images/noOfEmp.jpg" alt="">
            </div>
            <div class="col-md-6 mv-det">
                 <h1>Frequency of Hiring</h1>
                 <p>How frequent the company hires employees could be a great factor to know how much capital does the company have.
                    Now the frequency can be calculated from the job openings provided at linked-in,AngelList such platforms.
                     How frequently they open up their job portals and how many they are taking in? 
                     Also does these companies visit colleges?what's the rate they take students what,s the package they give?
                     If we find out the company is hiring lot of people frequently,then this means te product they are building is in demand that means the company will grow in future also they do have the capital to hire that frequent.
                 </p>
            </div>
        </div>
        <div class="row mission">
            <div class="col-md-6 mv-det">
                <h1>Total Salary</h1>
                <p>Now this is very important to know how the company is spending. How much is the expenditure of the company? This can be calculated by getting salary of every person. The sum of all will be achieved. This will be what company is spending on employees</p>
            </div>
            <div class="col-md-6 mv-img">
                <img src="assets/images/salary.jpg" alt="">
            </div>
        </div>
        
        <div class="row vision">
            <div class="col-md-6 mv-img">
                 <img src="assets/images/investor.png" alt="">
            </div>
            <div class="col-md-6 mv-det">
                 <h1>Investors</h1>
                 <p>There is a platform where all companies go for asking investors in their company.
                     This will let us know how many investors have already invested in the company.
                     What is the investment amount? Who are the investors? If the investers are well-known then this shows that it is good company.
                 </p>
            </div>
            
            
        </div>
        <div class="row mission">
            <div class="col-md-6 mv-det">
                <h1>Loan</h1>
                <p>The place where the company ask for loan or for investors we can get what is debt on that company. The company has taken loan from how many, the investment is taken from how many lenders? All this data can be crawled and be collected. The company is under how much debt </p>
            </div>
            <div class="col-md-6 mv-img">
                <img src="assets/images/loan.jpg" alt="">
            </div>
        </div>
        
        <div class="row vision">
            <div class="col-md-6 mv-img">
                 <img src="assets/images/client.jpeg" alt="">
            </div>
            <div class="col-md-6 mv-det">
                 <h1>Clients</h1>
                 <p>The clients of the company can be fetched easily. Each product of company is serving how many clients. This would let us calculate revenue of the company. Also will know the network of the company. Also the higher the no clients the richer,better the company is. No of clients is an essential factor </p>
            </div>
        </div>
        <div class="row mission">
            <div class="col-md-6 mv-det">
                <h1>Revenue</h1>
                <p>This is factor that would calculate the net revenue of a product. So this would be like how many products does company work on? Also how many clients are engaged or using a single product? Also what is cost of each product being sold? What was the cost that company made the product?
                    So <br> Total revenue=(cost of one product x how many clients are using it)
                   <br> Net Revenue=(cost of one product x how many clients are using it)-cost to maje that product
                </p>
            </div>
            <div class="col-md-6 mv-img">
                <img src="assets/images/revenue.jpg" alt="">
            </div>
        </div>
        
        <div class="row vision">
            <div class="col-md-6 mv-img">
                 <img src="assets/images/profit.jpg" alt="">
            </div>
            <div class="col-md-6 mv-det">
                 <h1>Profit</h1>
                 <p>This is the factor that will let us know whether to invest or not in the company. So this calculated by taking out the whole expenditure,debt the company minus the revenue generated. If this is high that means the company is in profit 
                  <br>  (Debt+Expenditure_of_company+Salary)-Revenue
                <br> If positive that means there is profit.The company has the ability to pay back the loan
                 </p>
            </div>
        </div>
    </div>
</section>   



 <!-- ################# Events Start Here#######################--->
 <!-- <section class="events">
    <div class="container">
        <div class="session-title row">
            <h2>Popular Causes</h2>
            <p>We are a non-profital & Charity raising money for child education</p> 
        </div>
        <div class="event-ro row">
            <div class="col-md-4 col-sm-6">
                <div class="event-box">
                    <img src="assets/images/events/image_08.jpg" alt="">
                    <h4>Mid-day meals</h4>
                    
                    <p class="raises"><span>Raised : ₹34,425</span> / ₹5,00,000 </p>
                    <p class="desic">Food was provided in schools once in a week.This activity is being practised in many schools</p>
                    <button class="btn btn-success btn-sm">Donate Now</button>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="event-box">
                    <img src="assets/images/events/image_06.jpg" alt="">
                    <h4>Food Donation on Streets</h4>
                    <p class="raises"><span>Raised : ₹54,425</span> / ₹6,00,000 </p>
                    <p class="desic">For feeding the people on the road sides food was donated as well as money for purchase of food was donated.</p>
                    <button class="btn btn-success btn-sm">Donate Now</button>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="event-box">
                    <img src="assets/images/events/image_04.jpg" alt="">
                    <h4>Raisement of Fund for Betterment of Society</h4>
                    <p class="raises"><span>Raised : ₹3,54,425</span> / ₹10,00,000 </p>
                    <p class="desic">The fund has been raised through Fundraiser for betterment of the society at a wider pace</p>
                    <button class="btn btn-success btn-sm">Donate Now</button>
                </div>
            </div>
        </div>
    </div>
</section>    -->




<!-- ################# Charity Number Starts Here#######################--->


<!-- <div class="doctor-message">
    <div class="inner-lay">
        <div class="container">
           <div class="row session-title">
               <h2>Our Achievemtns in Numbers</h2>
               <p>We can talk for a long time about advantages of our e-Pradaan.
But you can read the following facts in order to make sure of all pluses of our website</p>
           </div>
            <div class="row">
                <div class="col-sm-3 numb">
                    <h3>10+</h3>
                    <span>Number of NGO's</span>
                </div>
                <div class="col-sm-3 numb">
                    <h3>10000+</h3>
                    <span>HAPPY CHILDRENS</span>
                </div>
                <div class="col-sm-3 numb">
                    <h3>30+</h3>
                    <span>DONORS</span>
                </div>
                <div class="col-sm-3 numb">
                    <h3>15+</h3>
                    <span>FUND RAISERSER</span>
                </div>
            </div>
        </div>

    </div>

</div>  -->
     
<!--################### Our Team Starts Here #######################--->
      <!-- <section class="our-team team-11">
        <div class="container">
            <div class="session-title row">
                  <h2>Meet our Team</h2>
                  <p>The following is the team who have build this platform</p>
            </div>
            <div class="row team-row">
                <div class="col-md-3 col-sm-6">
                    <div class="single-usr">
                        <img src="assets/images/team/team-memb1.jpeg" alt="">
                        <div class="det-o">
                            <h4>Diya Janyani</h4>
                            <i>Team Leader</i>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="single-usr">
                        <img src="assets/images/team/team-memb2.jpeg" alt="">
                        <div class="det-o">
                            <h4>Ritika Vanjarani</h4>
                            <i>Project Manager</i>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="single-usr">
                        <img src="assets/images/team/team-memb3.jpeg" alt="">
                        <div class="det-o">
                            <h4>Sahil Kishnani</h4>
                            <i>Backend Manager</i>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="single-usr">
                        <img src="assets/images/team/team-memb4.jpeg" alt="">
                        <div class="det-o">
                            <h4>Sagar Kishnanil</h4>
                            <i>Frontend Manager</i>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </section>       -->
     
      

<!-- ################# Our Blog Starts Here#######################--->

<!-- <section class="our-blog">
         <div class="container">
             <div class="row session-title">
                <h2> Our Blog </h2>
                <p>Take a look at what people say about US </p>
            </div>
            <div class="blog-row row">
                <div class="col-md-4 col-sm-6">
                    <div class="single-blog">
                        <figure>
                            <img src="assets/images/events/image_01.jpeg" alt="">
                        </figure>
                        <div class="blog-detail">
                            <small>By Admin | August 10 2022</small>
                            <h4>Methods of Recuirtments</h4>
                            <p> An amazing platform and the easiest possible way to donate.Also many methods are available for donation and it is a reliable site which meets the demands of donor,receiver as well as NGO and Fundraiser</p>
                            <div class="link">
                                <a href="">Read more </a><i class="fas fa-long-arrow-alt-right"></i>
                            </div>
                        </div>
                        
                        
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="single-blog">
                        <figure>
                            <img src="assets/images/events/image_02.jpg" alt="">
                        </figure>
                        <div class="blog-detail">
                            <small>By Admin | August 10 2022</small>
                            <h4>Methods of Recuirtments</h4>
                            <p> An amazing platform and the easiest possible way to donate.Also many methods are available for donation and it is a reliable site which meets the demands of donor,receiver as well as NGO and Fundraiser</p>
                            <div class="link">
                                <a href="">Read more </a><i class="fas fa-long-arrow-alt-right"></i>
                            </div>
                        </div>
                        
                        
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="single-blog">
                        <figure>
                            <img src="assets/images/events/image_03.jpg" alt="">
                        </figure>
                        <div class="blog-detail">
                            <small>By Admin | August 10 2022</small>
                            <h4>Methods of Recuirtments</h4>
                            <p> An amazing platform and the easiest possible way to donate.Also many methods are available for donation and it is a reliable site which meets the demands of donor,receiver as well as NGO and Fundraiser</p>
                            <div class="link">
                                <a href="">Read more </a><i class="fas fa-long-arrow-alt-right"></i>
                            </div>
                        </div>
                        
                        
                    </div>
                </div>
            </div>
         </div>
     </section> -->
      
  <!-- <footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-12">
                <h2>About Us</h2>
                <p>
                    e-Pradaan is a leading provider of information technology, consulting, and business process services. Our dedicated employees offer strategic insights, technological expertise and industry experience.
                </p>
                <p>We focus on technologies that promise to reduce costs, streamline processes and speed time-to-market, Backed by our strong quality processes and rich experience managing global... </p>
            </div>
            <div class="col-md-4 col-sm-12">
                <h2>Useful Links</h2>
                <ul class="list-unstyled link-list">
                    <li><a ui-sref="about" href="#/about">About us</a><i class="fa fa-angle-right"></i></li>
                    <li><a ui-sref="portfolio" href="#/portfolio">Portfolio</a><i class="fa fa-angle-right"></i></li>
                    <li><a ui-sref="products" href="#/products">Latest jobs</a><i class="fa fa-angle-right"></i></li>
                    <li><a ui-sref="gallery" href="#/gallery">Gallery</a><i class="fa fa-angle-right"></i></li>
                    <li><a ui-sref="contact" href="#/contact">Contact us</a><i class="fa fa-angle-right"></i></li>
                </ul>
            </div>
            <div class="col-md-4 col-sm-12 map-img">
                <h2>Contact Us</h2>
                <address class="md-margin-bottom-40">
                     BlueDart <br> -->
                    <!--Thane () District) <br>
                    Maharashtra, IND <br>
                    Phone: +91 998776655 <br>
                    Email: <a href="mailto:info@anybiz.com" class="">e-Pradaan@gmail.com</a><br>
                    Web: <a href="smart-eye.html" class="">www.e-Pradaan.in</a>
                </address>

            </div>
        </div>
        
        
        <div class="nav-box row clearfix">
            <div class="inner col-md-9 clearfix">
                <ul class="footer-nav clearfix">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Gallery</a></li>
                    <li><a href="#">Servies</a></li>
                    <li><a href="#">Blog</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>

              
            </div>
              <div class="donate-link col-md-3"><a href="donate.html" class="btn btn-primary "><span class="btn-title">Join Now</span></a></div>
        </div>
        
    </div>
    

</footer> -->
<div class="copy">
        <div class="container">
            <a href="https://www.smarteyeapps.com/">2022 &copy; All Rights Reserved By Our Team</a>
            
            <span>
            <a><i class="fa fa-github-square" aria-hidden="true"></i></a>
            <a><i class="fa fa-google-plus-official" aria-hidden="true"></i></a>
            <a><i class="fa fa-pinterest-square" aria-hidden="true"></i></a>
            <a><i class="fa fa-twitter-square" aria-hidden="true"></i></a>
            <a><i class="fa fa-facebook-square" aria-hidden="true"></i></a>
    </span>
        </div>

    </div>




